<div class="bg-light common_container common_container_bg ">
    <div class="container-fluid " style="padding-top: 15vh;">
        <div class="text-center w-50 common_card" style="padding: 20px;  margin: auto;">
            <h3>CONTACT US</h3>
            <hr/>
            <h4><i class="fas fa-phone-square-alt"></i></h4>
            <p><a target="_blank" href="{{contactUrl}}">{{phoneNumber}}</a></p>
            <h4><i class="fas fa-envelope"></i></h4>
            <p><a target="_blank" href="mailto:{{email}}">{{email}}</a></p>
        </div>
    </div>
</div>