<div id="about_view" class="common_container ">
    <div class="container-fluid " style="padding-top: 15vh;">
        <div class="text-center text-white w-50  " style="padding: 20px;  margin: auto;">
            <h2 class="mb-5">CONTACT US</h2>
             
            <h3><i class="fas fa-phone-square-alt"></i></h3>
            <p><a class="btn text-white btn-text" target="_blank" href="{{contactUrl}}">{{phoneNumber}}</a></p>
            <h3><i class="fas fa-envelope"></i></h3>
            <p><a class="btn text-white btn-text" target="_blank" href="mailto:{{email}}">{{email}}</a></p>
        </div>
    </div>
</div>