<div class="bg-light common_container common_container_bg ">
    <div class="container-fluid ">
        <p></p>
        <div style="padding-top: 5vh;">
            <div class="text-center rounded w-50 bg-light" style="padding: 20px;  margin: auto;" >
                <h3>Contact Us</h3>
                <p></p>
                <h4><i class="fas fa-phone-square-alt"></i></h4>
                <p><a target="_blank" href="{{contactUrl}}">{{phoneNumber}}</a></p>
                <h4><i class="fas fa-envelope"></i></h4>
                <p><a target="_blank" href="mailto:{{email}}">{{email}}</a></p>
            </div> 
        </div>
    </div>
</div>