<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
 

<!-- Toolbar -->
<div class="toolbar " role="banner">
  <div class="col-md-1">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
  </div>
  <div class="col-md-2">{{title}}</div>
  <div class="col-md-6"></div>
  <div class="col-md-1">
    <!-- <a class="text-white" rel="noopener" routerLink="/index">
      <i class="fas fa-home"></i>
    </a> -->
    <a class="text-white clickable" (click)="scrollTo('index_view')" rel="noopener" >
      <i class="fas fa-home"></i>
    </a>
  </div>
  <div class="col-md-1">
    <!-- <a class="text-white" rel="noopener" routerLink="/products">
      <i class="fas fa-th-large"></i>
    </a> -->
    <a class="text-white clickable" (click)="scrollTo('product_view')"  rel="noopener" >
      <i class="fas fa-th-large"></i>
    </a>
  </div>
  <div class="col-md-1">
    <!-- <a class="text-white" rel="noopener" routerLink="/about">
      <i class="fas fa-user"></i>
    </a> -->
    <a class="text-white clickable" (click)="scrollTo('about_view')" rel="noopener" >
      <i class="fas fa-user"></i>
    </a>
  </div>  
</div>

<!-- <router-outlet></router-outlet> -->
<app-index></app-index>
<app-products></app-products>
<app-about></app-about>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
