<div *ngIf="productDetail" style=" width: 100%; 
            height: 100%; 
            z-index: 10; 
            position: absolute; 
            background-color: rgba(100,100,100,0.5);">
    <div style="position: relative; width: 60%;top: 20%; margin: auto;">
        <div app-product-detail [product]="productDetail" (close)="hideDetail()"></div>
    </div>
</div>
<div id="product_view" class="common_container">
    <div class="container-fluid">
        <div class="row">
            <div app-product-item  
                 [product]="item"*ngFor="let item of products" 
                 (showDetail)="showDetail($event)" 
                 class="col-md-6" 
                 style="padding: 10px; margin-bottom: -50px;">
                 
            </div>
        </div>
    </div>
</div>