<div *ngIf="productDetail" style=" width: 100%; 
            height: 100%; 
            z-index: 10; 
            position: absolute; 
            background-color: rgba(100,100,100,0.5);">
    <div style="position: relative; width: 60%;top: 20%; margin: auto;">
        <div app-product-detail [product]="productDetail" (close)="hideDetail()"></div>
    </div>
</div>
<div class="common_container common_container_bg">
    <div class="container-fluid " style="padding-top: 15vh;">
        <div class="text-center w-80 common_card " style="padding: 20px;  margin: auto;">
            <h3 >PRODUCT</h3>
            <hr/>
            <div style="overflow-y: scroll; height: 60vh; padding: 20px;">
                <div class="row">
                    <div app-product-item *ngFor="let item of products" [product]="item" class="col-md-3"
                        (showDetail)="showDetail($event)">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>