<div *ngIf="product" >
    <div class="catalog-item mb-5"  style='background-image: url({{product.imageUrl}}); margin-left: 1px;'>
        <h3 *ngIf="!product.imageUrl" class="pt-5 text-center text-capitalize text-secondary">{{product.name}}</h3>
        <div class="catalog-label">
            <div class="catalog-cover" 
                (click)="showDetailProduct(product)" 
                (mouseover)="setMouseOver()"
                (mouseout)="setMouseOut()"></div>
            <span style="font-size: 1.5em;">{{productName}} </span>
            <div *ngIf="mouseover" class="catalog-item-detail  ">
                <p>{{product.description}}</p>
            </div>
        </div>

    </div>

</div>