<div *ngIf="product" class="catalog-item rounded" style='background-image: url({{displayedImage}}); margin-left: 1px;'>
    <h3 *ngIf="!product.imageUrl" class="pt-5 text-center text-capitalize text-secondary">{{product.name}}</h3>
    <!-- <div class="catalog-label">
            <div class="catalog-cover" 
                (click)="showDetailProduct(product)" 
                (mouseover)="setMouseOver()"
                (mouseout)="setMouseOut()"></div>
            <span class="catalog-item-name">{{productName}} </span>
            <div *ngIf="mouseover" class="catalog-item-detail  ">
                <p>{{product.description}}</p>
            </div>
        </div> -->
    <h1 class="vertical-center text-white text-center w-100"><strong>{{productName}}</strong></h1>

</div>