<div id="index_view" class="common_container common_container_bg">
  <div class="container-fluid">
    <div id="main-area"  class="text-dark">
      <!-- <h2>{{motto}}</h2> -->
      <p  >{{description}}</p>
      <!-- <a class="btn btn-lg btn-outline-light" routerLink="/products">Our Product</a> -->
      <!-- <button class="btn btn-lg btn-outline-dark mr-3"  (click)="scrollToProduct()" >Our Product</button>
      <button class="btn btn-lg btn-outline-dark" (click)="scrollToContact()" >Contact</button> -->
    </div>
  </div>
</div>
